p{
    text-transform: capitalize;
}

.container-header-content{
    background-color: rgb(227, 79, 79);
    text-align: center;
    padding: 2px 10px;
    border: 1px solid black;
    color: white !important;
    font-weight: bold;
}

.content{
    background-color: rgb(85, 130, 130);
    border: 1px solid black;
}

.content:first-child .container-header-content{
    background-color: pink;
}

.content:last-child .container-header-content{
    background-color: bisque;
}

.content:first-child .container-header-content, 
.content:last-child .container-header-content{
    color: black !important;
}

.container-content{
    text-align: justify;
    padding: 5px;
}